<div class="review-backdrop is-hidden reviews-modal-container">
  <div class="review-modal">
    <button type="button" class="modal-close-btn reviews-modal-close">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h2 class="review-modal-title">
      Leave a review about <span class="orang-text">our chocolate</span>
    </h2>
    <form class="review-modal-form" autocomplete="off" name="review-modal-form">
      <input
        class="review-form-input review-input-name"
        name="user_name"
        id="review-form-name"
        type="text"
        placeholder="Name"
        pattern="[a-zA-Zа-яА-Я]+"
        required
      />
      <input
        class="review-form-input review-input-email"
        name="user_email"
        id="review-form-email"
        type="email"
        placeholder="Enter your email"
        required
      />
      <span class="user-phone-container"
        ><span class="flag-prenumber-container"
          ><span class="input-phone-flag"></span
          ><span class="input-prenumber">+380</span
          ><span class="input-vertical-line"></span></span
        ><input
          class="review-form-input review-input-phone"
          name="user_phone"
          id="review-form-phone"
          type="tel"
          placeholder="Phone number"
          pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="111-11-11"
          required
      /></span>
      <textarea
        class="review-form-message"
        placeholder="Enter text"
        name="user_comment"
        id="review-form-comment"
      ></textarea>
      <button type="submit" class="review-form-submit-btn">Send</button>
    </form>
  </div>
</div>
