<div class="backdrop-subscribe is-hidden" data-sub-modal>
  <div class="window-subscribe">
    <button type="button" class="button-subscribe-close" data-modal-sub-close>
      <svg width="24" height="24" class="subscribe-icon">
        <use href="../../img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="menu-subscribe">
      <h1 class="title-modal-menu">
        Explore our <span class="title-modal-span"> new chocolate</span> first!
      </h1>
      <label class="subscribe-label">
        <input
          type="email"
          name="user-email"
          class="subscribe-input"
          placeholder="Enter your email"
          pattern="email"
        />
      </label>
      <button type="submit" class="button-subscribe-submit">Submit</button>
    </div>
  </div>
</div>
