<header class="header-section">
  <div class="header-container container">
    <nav class="header-navigation">
      <a class="header-logo link" href="../index.html"
        ><span class="header-logo-span">Simply</span> Chocolate
        <svg class="header-logo-svg" width="21" height="21">
          <use href="./img/sprite.svg#icon-header-logo"></use>
        </svg>
      </a>
    </nav>
    <button class="header-burger-button" data-menu-open>
      <svg class="header-burger-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-header-mobile-button"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-container">
      <button type="button" class="mob-menu-close-btn" data-menu-close>
        <svg class="mob-menu-close-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
      <ul class="mob-menu-nav-list list">
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="">Home</a>
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="">How it's made?</a>
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="">Our products</a>
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="">Top sellers</a>
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="">Chocolade is loved</a>
        </li>
      </ul>
      <div class="mob-menu-soc-div">
        <ul class="mob-menu-soc-list list">
          <li class="mob-menu-soc-item">
            <a href="">
              <svg class="mob-menu-soc-icon" width="22" height="22">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-soc-item">
            <a href="">
              <svg class="mob-menu-soc-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
