<header class="header-section">
  <div class="header-container container">
    <nav class="header-navigation">
      <a class="header-logo link" href="../index.html"
        ><span class="header-logo-span">Simply</span> Chocolate
        <svg class="header-logo-svg" width="21" height="21">
          <use href="./img/sprite.svg#icon-header-logo"></use>
        </svg>
      </a>
      <div class="header-destp-container">
        <ul class="header-destp-list list">
          <li class="header-destp-item">
            <a class="header-destp-link link" href="./index.html">Home</a>
          </li>
          <li class="header-destp-item">
            <a class="header-destp-link link" href="#how-its-made"
              >How it's made?</a
            >
          </li>
          <li class="header-destp-item">
            <a class="header-destp-link link" href="#our-products-section"
              >Our products</a
            >
          </li>
          <li class="header-destp-item">
            <a class="header-destp-link link" href="#top-sellers-id"
              >Top sellers</a
            >
          </li>
          <li class="header-destp-item">
            <a class="header-destp-link link" href="#reviews-section"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </div>
      <ul class="header-destp-soc-list list">
        <li class="header-destp-soc-item">
          <a
            class="header-destp-soc-link link"
            href="https://instagram.com"
            target="_blank"
            title="instagram"
            rel="noopener noreferrer nofollow"
            ><svg width="24" height="24" class="header-destp-soc-icon">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-destp-soc-item">
          <a
            class="header-destp-soc-link link"
            href="https://twitter.com"
            target="_blank"
            title="twitter"
            rel="noopener noreferrer nofollow"
            ><svg width="24" height="24" class="header-destp-soc-icon">
              <use href="./img/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button class="header-burger-button" data-menu-open>
      <svg class="header-burger-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-header-mobile-button"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-container">
      <button type="button" class="mob-menu-close-btn" data-menu-close>
        <svg class="mob-menu-close-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
      <ul class="mob-menu-nav-list list">
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="./index.html">Home</a>
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="#how-its-made"
            >How it's made?</a
          >
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="#our-products-section"
            >Our products</a
          >
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="#top-sellers-id"
            >Top sellers</a
          >
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link link" href="#reviews-section"
            >Chocolate is loved</a
          >
        </li>
      </ul>
      <div class="mob-menu-soc-div">
        <ul class="mob-menu-soc-list list">
          <li class="mob-menu-soc-item">
            <a
              href="http://instagram.com"
              target="_blank"
              title="instagram"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mob-menu-soc-icon" width="22" height="22">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mob-menu-soc-item">
            <a
              href="https://twitter.com"
              target="_blank"
              title="twitter"
              rel="noopener noreferrer nofollow"
            >
              <svg class="mob-menu-soc-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
