<hero class="hero-section">
  <h1 class="hero-hidden-title">Simply Chocolate</h1>
  <p class="hero-paragraph">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </p>
  <button class="buy-modal-btn">Buy now</button>
  <a href="" class="hero-anchor-button">How it's made</a>
  <a href="" class="hero-scroll-button"
    >scroll down
    <svg class="hero-scroll-icon" width="16" height="16">
      <use href="./img/sprite.svg#icon-hero-galochka"></use>
    </svg>
  </a>
</hero>
