<section class="hero-section">
  <div class="hero-container container">
    <h1 class="hero-hidden-title" hidden>Simply Chocolate</h1>
    <div class="hero-container-btns">
      <p class="hero-paragraph">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <div class="hero-btns-div">
        <button class="buy-modal-btn orng-btn" data-modal-open-two>
          Buy now
        </button>
        <a href="#how-its-made" class="hero-anchor-button link transp-btn"
          >How it's made</a
        >
      </div>
      <a href="#footer-section" class="hero-scroll-button link"
        >scroll down
        <div class="hero-scroll-div">
          <svg class="hero-scroll-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-hero-galochka"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
