<section class="recept-section container" id="how-its-made">
  <h2 class="recept-title">How it&rsquo;s <span class="accent">made?</span></h2>
  <div class="recept-container">
    <picture>
      <source
        srcset="
          ./img/how-its-made/bowl-dtp-600.jpg    1x,
          ./img/how-its-made/bowl-dtp-600@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./img/how-its-made/bowl-tab-614.jpg    1x,
          ./img/how-its-made/bowl-tab-614@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/how-its-made/bowl-mob-335.jpg    1x,
          ./img/how-its-made/bowl-mob-335@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        srcset="./img/how-its-made/bowl-tab-614@2x.jpg 2x"
        src="./img/how-its-made/bowl-tab-614.jpg"
        alt="bowl with chokolate and whisk"
        width="614"
        class="recept-pic"
      />
    </picture>

    <div class="recept-wrap">
      <p class="recept-paragraph">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul class="recept-list list">
        <li class="recept-list-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="recept-list-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="recept-list-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="recept-list-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="recept-list-item">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
