<section class="prod-section">
  <div class="prod-container">
    <h2 class="prod-title">Our <span class="accent">products</span></h2>
    <div class="prod-list-container swiper">
      <ul class="prod-list list swiper-wrapper">
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/orange@2x.jpg 2x"
            src="../img/chokolate-bars/orange.jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Orange</h3>
          <p class="chok-type">Dark chocolate</p>
          <button type="button" class="chok-price">45 UAH</button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/apple@2x.jpg 2x"
            src="../img/chokolate-bars/apple.jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Apple&Cranberry</h3>
          <p class="chok-type">Milk chocolate</p>
          <button type="button" class="chok-price">50 UAH</button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/lime@2x.jpg 2x"
            src="../img/chokolate-bars/lime.jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Lime&Sea salt</h3>
          <p class="chok-type">Dark chocolate</p>
          <button type="button" class="chok-price">66 UAH</button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/pinaple@2x.jpg 2x"
            src="../img/chokolate-bars/pinaple.jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Pineapple</h3>
          <p class="chok-type">Dark chocolate</p>
          <button type="button" class="chok-price">54 UAH</button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/milkchok@2x.jpg 2x"
            src="../img/chokolate-bars/milkchok.jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Classic</h3>
          <p class="chok-type">Milk chocolate</p>
          <button type="button" class="chok-price">45 UAH</button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/honey@2x.jpg 2x"
            src="../img/chokolate-bars/honey.jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Honey</h3>
          <p class="chok-type">Milk chocolate</p>
          <button type="button" class="chok-price">50 UAH</button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/roasted@2x.jpg 2x"
            src="../img/chokolate-bars/roasted.jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Roasted fruits</h3>
          <p class="chok-type">Dark chocolate</p>
          <button type="button" class="chok-price">66 UAH</button>
        </li>
        <li class="prod-item swiper-slide">
          <img
            srcset="../img/chokolate-bars/white@2x.jpg 2x"
            src="../img/chokolate-bars/white .jpg"
            alt="- chocolate bar"
          />
          <h3 class="chok-name">Classic</h3>
          <p class="chok-type">White chocolate</p>
          <button type="button" class="chok-price">54 UAH</button>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <div class="test">
      <button class="orng-btn">Buy</button>
      <button class="transp-btn">How it`s made</button>
      <button class="tr-orng-btn">Leave a review</button>
    </div>
  </div>
</section>
