<section class="prod-section">
  <h2 class="prod-title">Our products</h2>
  <ul>
    <li>
      <img
        srcset="../img/chokolate-bars/orange@2x.jpg 2x"
        src="../img/chokolate-bars/orange.jpg"
        alt="- chocolate bar"
      />
      <h3>Orange</h3>
      <p>Dark chocolate</p>
      <span>45 UAH</span>
    </li>
    <li>
      <img
        srcset="../img/chokolate-bars/apple@2x.jpg 2x"
        src="../img/chokolate-bars/apple.jpg"
        alt="- chocolate bar"
      />
      <h3>Apple&Cranberry</h3>
      <p>Milk chocolate</p>
      <span>50 UAH</span>
    </li>
    <li>
      <img
        srcset="../img/chokolate-bars/lime@2x.jpg 2x"
        src="../img/chokolate-bars/lime.jpg"
        alt="- chocolate bar"
      />
      <h3>Lime&Sea salt</h3>
      <p>Dark chocolate</p>
      <span>66 UAH</span>
    </li>
    <li>
      <img
        srcset="../img/chokolate-bars/pinaple@2x.jpg 2x"
        src="../img/chokolate-bars/pinaple.jpg"
        alt="- chocolate bar"
      />
      <h3>Pineapple</h3>
      <p>Dark chocolate</p>
      <span>54 UAH</span>
    </li>
    <li>
      <img
        srcset="../img/chokolate-bars/milkchok@2x.jpg 2x"
        src="../img/chokolate-bars/milkchok.jpg"
        alt="- chocolate bar"
      />
      <h3>Classic</h3>
      <p>Milk chocolate</p>
      <span>45 UAH</span>
    </li>
    <li>
      <img
        srcset="../img/chokolate-bars/honey@2x.jpg 2x"
        src="../img/chokolate-bars/honey.jpg"
        alt="- chocolate bar"
      />
      <h3>Honey</h3>
      <p>Milk chocolate</p>
      <span>50 UAH</span>
    </li>
    <li>
      <img
        srcset="../img/chokolate-bars/roasted@2x.jpg 2x"
        src="../img/chokolate-bars/roasted.jpg"
        alt="- chocolate bar"
      />
      <h3>Roasted fruits</h3>
      <p>Dark chocolate</p>
      <span>66 UAH</span>
    </li>
    <li>
      <img
        srcset="../img/chokolate-bars/white@2x.jpg 2x"
        src="../img/chokolate-bars/white .jpg"
        alt="- chocolate bar"
      />
      <h3>Classic</h3>
      <p>White chocolate</p>
      <span>54 UAH</span>
    </li>
  </ul>
</section>
