<section class="reviews">
  <div class="reviews-container">
    <h2 class="review-title"><span>Chocolate</span> is loved</h2>
    <ul class="reviews-cards">
      <li class="reviews-card">
        <img
          class="reviews-card-img"
          srcset="
            ./img/reviews/Victoria_Dobrzhanska@2x-min.jpg 2x,
            ./img/reviews/Victoria_Dobrzhanska@3x-min.jpg 3x
          "
          src="./img/reviews/Victoria_Dobrzhanska-min.jpg"
          alt="Victoria Dobrzhanska photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-card-title">Victoria Dobrzhanska</h3>
        <p class="reviews-card-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews-card">
        <img
          class="reviews-card-img"
          srcset="
            ./img/reviews/Nazar_Babenko@2x-min.jpg 2x,
            ./img/reviews/Nazar_Babenko@3x-min.jpg 3x
          "
          src="./img/reviews/Nazar_Babenko-min.jpg"
          alt="Nazar Babenko photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-card-title">Nazar Babenko</h3>
        <p class="reviews-card-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews-card">
        <img
          class="reviews-card-img"
          srcset="
            ./img/reviews/Olena_Kampusch@2x-min.jpg 2x,
            ./img/reviews/Olena_Kampusch@3x-min.jpg 3x
          "
          src="../img/reviews/Olena_Kampusch-min.jpg"
          alt="Olena Kampusch photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-card-title">Olena Kampusch</h3>
        <p class="reviews-card-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="reviews-card">
        <img
          class="reviews-card-img"
          srcset="
            ./img/reviews/Natalia_Sus@2x-min.jpg 2x,
            ./img/reviews/Natalia_Sus@3x-min.jpg 3x
          "
          src="../img/reviews/Natalia_Sus-min.jpg"
          alt="Natalia Sus photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-card-title">Natalia Sus</h3>
        <p class="reviews-card-text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="reviews-card">
        <img
          class="reviews-card-img"
          srcset="
            ./img/reviews/Danilo_Nottingham@2x-min.jpg 2x,
            ./img/reviews/Danilo_Nottingham@3x-min.jpg 3x
          "
          src="./img/reviews/Danilo_Nottingham-min.jpg"
          alt="Danilo Nottingham photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-card-title">Danilo Nottingham</h3>
        <p class="reviews-card-text">
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>
      <li class="reviews-card">
        <img
          class="reviews-card-img"
          srcset="
            ./img/reviews/Irina_Tydnyuk@2x-min.jpg 2x,
            ./img/reviews/Irina_Tydnyuk@3x-min.jpg 3x
          "
          src="./img/reviews/Irina_Tydnyuk-min.jpg"
          alt="Irina Tydnyuk photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-card-title">Irina Tydnyuk</h3>
        <p class="reviews-card-text">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class
        </p>
      </li>
    </ul>
    <button class="review-btn">Leave a review</button>
  </div>
</section>
