<section class="subscribe">
  <div class="container">
    <h1 class="title-subscribe">Explore our new chocolate first</h1>
    <p class="text-subscribe">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button type="submit" class="button-subscribe" data-modal-sub-open>
      Subscribe
    </button>
  </div>
</section>
<script src="../js/subscribe.js"></script>
