<section class="sellers-section">
  <div class="sellers-container">
    <h2 class="sellers-title"><span>Top</span> Sellers</h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <img src="../img/sellers/mobile_img1.jpg" alt="soon will be picture" />
        <p class="sellers-item-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <img src="../img/sellers/mobile_img1.jpg" alt="soon will be picture" />
      </li>
      <li class="sellers-item">
        <img src="../img/sellers/mobile_img2.jpg" alt="soon will be picture" />
      </li>
    </ul>

    <button data-modal-open type="button" class="sellers-modal-but-now">
      Buy now
    </button>
  </div>
</section>
