<!-- TOP Seller -->
<section class="sellers-section container">
  <div class="sellers-container">
    <h2 id="top-sellers-id" class="sellers-title"><span>Top</span> Sellers</h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <img src="./img/sellers/1x/1m.jpg" alt="soon will be picture" />
      </li>
      <li class="sellers-item">
        <p class="sellers-item-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <img src="./img/sellers/1x/2m.jpg" alt="soon will be picture" />
      </li>
      <li class="sellers-item">
        <img src="./img/sellers/1x/3d.jpg" alt="soon will be picture" />
      </li>
      <li class="sellers-item">
        <button data-modal-open type="button" class="sellers-modal-buy-now">
          Buy now
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- Finish Top Seller -->
