<section class="container">
  <h2 class="title-components">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="colortext">TASTE</span> SENSATION
  </h2>
  <p class="description-components">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="list-components">
    <li class="element-components">
      <div class="curtains-wrap">
        <img
          class="img-components-chocolate"
          src="../img/components/chocolate-mobile-tablet1x.png"
          alt="chocolate"
          width="335"
        />
        <p class="name-components-white">milk chocolate</p>
        <div class="curtains">
          <h2 class="title-curts">milk chocolate</h2>
          <div class="pseudo-button">
            <p class="text-button-decoration">milchocolate</p>
            <p class="text-button-decoration">the benefits</p>
          </div>
          <p class="description-curtains">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </div>
    </li>
    <li class="element-components">
      <div class="curtains-wrap">
        <img
          class="img-components-milk"
          srcset="../img/components/milk-mobile-tablet2x.png"
          src="../img/components/milk-mobile-tablet1x.png"
          alt="milk"
          width="335"
        />
        <p class="name-components-black">milk</p>
        <div class="curtains">
          <h2 class="title-curts">milk</h2>
          <div class="pseudo-button">
            <p class="text-button-decoration">milk</p>
            <p class="text-button-decoration">the benefits</p>
          </div>
          <p class="description-curtains">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </div>
    </li>
    <li class="element-components">
      <div class="curtains-wrap">
        <img
          class="img-components-nuts"
          srcset="../img/components/nuts-mobile-tablet2x.png"
          src="../img/components/nuts-mobile-tablet1x.png"
          alt="nuts"
          width="335"
        />
        <p class="name-components-white">nuts</p>
        <div class="curtains">
          <h2 class="title-curts">nuts</h2>
          <div class="pseudo-button">
            <p class="text-button-decoration">nuts</p>
            <p class="text-button-decoration">the benefits</p>
          </div>
          <p class="description-curtains">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </div>
    </li>
    <li class="element-components">
      <div class="curtains-wrap">
        <img
          class="img-components-cofe"
          srcset="../img/components/cofe-mobile-tablet2x.png"
          src="../img/components/cofe-mobile-tablet1x.png"
          alt="cofe"
          width="335"
        />
        <p class="name-components-black">semi - sweet chocolate</p>
        <div class="curtains">
          <h2 class="title-curts">semi - sweet chocolate</h2>
          <div class="pseudo-button">
            <p class="text-button-decoration">sweet chocolate</p>
            <p class="text-button-decoration">the benefits</p>
          </div>
          <p class="description-curtains">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
