.title-advantages-none {
  display: none;
}
/* .container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; } */

.section-adv-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section-advantages {
  background-color: #1e1823;
}
.adv-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 375px;
}
.title-advantages {
  font-family: 'Montserrat-600', sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-top: 18px;
  margin-bottom: 18px;
}
.text-advantages {
  font-family: 'Montserrat-400', sans-serif;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.adv-svg-wrapper {
  border: 2px solid;
  color: white;
  border-radius: 50%;
  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}
.adv-svg {
  transform: translate(-50, -50);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .advantages-container {
    padding: 50px 32px 50px 32px;
    max-width: 768px;
  }

  .section-adv-list {
    gap: 32px 60px;
    flex-wrap: wrap;
  }
  .adv-svg-wrapper-element {
    margin: 0;
  }
  .adv-item {
    max-width: 308px;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .section-advantages {
    width: 100%;
  }
  .advantages-container {
    max-width: 1200px;
    padding: 50px;
  }
  .adv-item {
    position: relative;
  }

  .adv-item:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 124px;
    right: -20px;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
  }
  .section-adv-list {
    justify-content: center;
    gap: 70px;
    /* padding: 50px; */
    max-width: 1100px;
    margin: 0 auto;
  }
}
