.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.no-scroll {
    overflow: hidden;
}

.header-section {
    background-color: var(--white-bg);
    width: 100%;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    /* padding-right: 20px;
    padding-left: 20px; */
    padding-bottom: 14px;
}

.header-navigation {}

.header-logo {
    display: flex;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    align-items: flex-end;
}

.header-logo-span {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    /* identical to box height, or 129% */

    letter-spacing: -0.03em;
}

.header-logo-svg {}

.header-burger-button {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 28px;
    height: 28px;
}

.header-burger-icon {
    padding: 7px 3.5px;
    stroke: var(--primary-black);
}

.mob-menu {
    /* display: none; */
    background: var(--dark-violet);
    width: 58vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    /* transform: translateX(-50%, 50%); */
    transition: opacity 100ms cubic-bezier(.19, .44, .58, .79);
}

.mob-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mob-menu-close-btn {
    display: flex;
    margin-left: auto;
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    padding: 0;
    margin-bottom: 88px;
}

.mob-menu-close-icon {
    stroke: var(--snow-white);
}

.mob-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;
}

.mob-menu-nav-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--snow-white);
}

.mob-menu-nav-link:hover,
.mob-menu-nav-link:focus {
    color: var(--brand-color);
}

.mob-menu-soc-div {
    display: flex;
    margin-left: 0;
    margin-right: auto;
}

.mob-menu-soc-list {
    display: flex;
    position: absolute;
    bottom: 20px;
    align-items: center;
    gap: 18px;
}

.mob-menu-soc-item {
    max-height: 22px;
}

.mob-menu-soc-icon {
    stroke: var(--snow-white);
    fill: transparent;
}