.recept-section {
  padding-top: 72px;
}
.recept-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /* outline: 2px violet dotted; */
  /* overflow: hidden; */
}

.recept-title {
  font-family: Montserrat-600, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
  letter-spacing: -0.03em;
  font-size: 20px;
  line-height: 1.2;
}

.recept-pic {
  border-radius: 15px;
  margin-bottom: 20px;
}

.recept-wrap {
  display: block;
  background-color: var(--snow-white);
  padding: 20px 14px;
  border-radius: 15px;
}

.recept-paragraph {
  font-family: Montserrat-600, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-black);
  margin-bottom: 20px;
}
.recept-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 16px;
}

.recept-list-item {
  position: relative;
  font-family: Montserrat-400, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-black);
}

.recept-list-item::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: -13px;
  top: 5px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}

@media screen and (min-width: 768px) {
  .recept-section {
    padding-top: 100px;
  }
  .recept-container {
    max-width: 654px;
  }

  .recept-wrap {
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .recept-container {
    max-width: 1176px;
    display: flex;
    gap: 20px;
  }
  .recept-pic {
    max-width: 600px;
    margin-bottom: 0;
  }
}
