.prod-section {
  padding-top: 72px;
}
.prod-container {
  margin: 0 auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}
.prod-title {
  font-family: 'Montserrat-600', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 32px;
}
.prod-list-container {
  max-width: 335px;
}

.prod-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 52px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  max-width: 335px;
}
.prod-item:hover,
.prod-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.chok-name {
  font-family: 'Montserrat-600', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  margin-top: 8px;
  margin-bottom: 2px;
}
.chok-type {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.chok-price {
  font-family: 'Montserrat-600', sans-serif;
  display: block;
  background-color: #fafafa;
  color: var(--primary-black);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  min-width: 94px;
  font-size: 14px;
  padding: 8px 20px;
  min-height: 33px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chok-price:hover,
.chok-price:focus {
  background-color: var(--brand-color);
  color: var(--snow-white);
}
.prod-list-container .swiper-pagination {
  margin-bottom: 0;
}
/* ===========test-btn================= */
.test {
  display: none;
}
/* ============================== */
@media screen and (min-width: 768px) {
  .prod-section {
    padding-top: 100px;
  }
  .prod-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .prod-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
  .prod-list-container {
    max-width: 728px;
  }
  .prod-item {
    padding: 32px 20px;
    max-width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .prod-section {
    padding-top: 128px;
  }
  .prod-container {
    max-width: 1200px;
  }
  .prod-list-container {
    max-width: 1136px;
  }
}
