.reviews {
  background-color: #e2e2e2;
}
.reviews-container {
  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 72px;
}
.review-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.orang-text {
  color: #fd9222;
}
.reviews-cards-container {
  max-width: 335px;
}
.reviews-card {
  box-sizing: border-box;
  max-width: 335px;
  height: 100%;
  position: relative;
  text-align: center;
  padding: 0 18px 42px;
}
.reviews-card::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: calc(100% - 40px);
  background-color: #ffffff;
  border-radius: 15px;
}
.reviews-card-img {
  margin: 0 auto 18px;
  border-radius: 50%;
}
.reviews-card-title {
  margin-bottom: 24px;
}
.reviews-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
/* ======================SWIPER-SLIDER-STYLES============================== */
.swiper-pagination {
  position: relative;
  margin-top: 20px;
  margin-bottom: 32px;
}
.reviews-cards-container .swiper-pagination-bullet {
  bottom: 0;
  width: 13px;
  height: 13px;
  background-color: rgb(17, 17, 17);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}
.reviews-cards-container .swiper-pagination-bullet-active {
  background-color: #fd9222;
}
/* ============================================================== */
.review-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-btn:hover,
.review-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}
@media screen and (min-width: 768px) {
  .reviews-container {
    max-width: 704px;
  }
  .reviews-cards-container {
    max-width: 704px;
  }
  .reviews-card {
    max-width: 344px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-container {
    max-width: 1200px;
  }
  .reviews-cards-container {
    max-width: 1136px;
  }
  .reviews-card {
    max-width: 360px;
  }
}
