.subscribe {
  background-color: var(--dark-violet);
  background-image: url(../img/Subcribe-pic/Subcribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(../img/Subcribe-pic/Subcribe@2x.jpg);
  }
}

.subscribe-container {
  padding: 62px 20px;
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
}
.title-subscribe {
  color: var(--snow-white);
  font-family: 'Montserrat-600', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0 auto;
  max-width: 291px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.text-subscribe {
  color: var(--snow-white);
  font-family: 'Montserrat-400', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  margin: 0 auto;
  max-width: 326px;
  margin-bottom: 24px;
}
.button-subscribe {
  display: block;
  color: var(--snow-white);
  background-color: var(--brand-color);
  font-family: 'Montserrat-600', sans-serif;
  font-size: 14px;

  border-radius: 100px;
  margin: 0 auto;
  padding: 12px 28px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover,
.button-subscribe:focus {
  color: var(--brand-color);
  background-color: var(--btn-hover);
}

/* ============================= 768 =================== */
@media screen and (min-width: 768px) {
  .subscribe {
    background-image: url(../img/Subcribe-pic/Subcribe2.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(../img/Subcribe-pic/Subcribe2@2x.jpg);
    }
  }
  .subscribe-container {
    max-width: 768px;
    padding: 72px 150px;
  }
  .title-subscribe {
    font-size: 24px;
    line-height: 1.17;
    max-width: 378px;
  }
  .text-subscribe {
    max-width: 467px;
  }
  .button-subscribe {
    padding: 14px 40px;
  }
}
/* ==========================  1200  ====================== */

@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: url(../img/Subcribe-pic/Subcribe3.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .subscribe {
      background-image: url(../img/Subcribe-pic/Subcribe3@2x.jpg);
    }
  }
  .subscribe-container {
    max-width: 1200px;
  }
}
